body{
    background-color:black;
}
h1{
    color:white;
}
h2{
    color:white;
}
nav li{
    margin-top: 40px;
    margin-left:20px;
    font-size: 20px;
    color:white;
}
.container{
    margin:  0px;
}
.productHeader{
    display:inline-block;
}
.colSuccess{
    text-align: center;
    margin-left: 100px;
}
.productBody{
    margin-top: 40px;
    margin-left: 70px;
    
}
.btnImg{
    margin-top: 10px;
    text-align: center;
}
